*{ /*selector universal*/
	margin:0;
	padding:0;
	list-style:none;
	font-family: 'Comfortaa', cursive;
}

body{
	position: absolute;
}

header{
	position: relative;
	width: 100%;
	height: 70px;
	background: rgba(252,234,187,1);
	background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 69%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(0%, rgba(248,181,0,1)), color-stop(69%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
	background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 69%, rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 69%, rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 69%, rgba(251,223,147,1) 100%);
	background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 69%, rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
}

.row{
	height: 100%;
}

#logoPequeño{
	position: absolute;
	width: 100px;
	top: 2px;
	left: 0;
}

#logoGrande{
	position: absolute;
	margin: auto;
	width: 250px;
	left: 80px;
}

#bRegis{
	position: absolute;
	top: 15px;
	right: 110px;
}

#bIngresar{
	position: absolute;
	top:15px;
	right: 18px;
} 

section{
	position: relative;
	width: 1334px;
	height: 100%;
	background: #ebebeb;
}

.icon{
  width: 8px;
  height: 8px;
}

.salBox {
  overflow-x: auto; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
}

#navDropdown1{
	text-align: center;

}

/*.dropdown{
	margin: 5px 5px;
}*/

.cajaSesion{
	position: relative;
	width: 250px;
	height: 400px;
	right: 40px;
}

footer{
	position: relative;
	width: 1319px;
	height: 70px;
	bottom: 0px;
}

